* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardProducto {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
    margin: 10px;
    flex-wrap: wrap;
}

body {
    background-image: url(../image/Color_negro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
}

.table {
    color: aliceblue;
    font-weight: bold;
    font-family: sans-serif;
    font-style: oblique;
    font-size: 20px;
}

.row {
    justify-content: center;
}

h5 {
    text-align: center;
    color:white;
}

.card-img-center {
    border-radius: 10px;
    box-shadow: 7px 25px 40px #000;
    font-weight: bolder;
}

.card-text {
    text-align: center;
    font-weight: bold;
}

#total {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.button {
    text-align: center;
}
